.movie-card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(228, 228, 228);
}

.card-title {
    font-size: 32px;
    font-weight: bold;
}

.card-director {
    font-size: 24px;
    font-weight: bold;
}

.card-plot {
    font-size: 18px;
}

.card-year {
    font-size: 24px;
    font-weight: bold;    
}

.card-poster {
    width: 200px;
    height: 300px;
}

.card-services {
    font-size: 18px;
    font-weight: bold;
}